

/*----------------------------INICIO MENU---------------------------------*/
html{
	width: 1498px;	
	height: 1631px;	
}

body{
	overflow-x: hidden;	
	margin-top:0;
	margin-left:auto;
 	margin-bottom:0;
 	margin-right:auto;
 	height: 1631px;  	
}

#container{
	width: 1498px;	
	height: 1631px;		
}

a{
	text-decoration: none;
}
li{
	list-style-type:none;
}


header{	
	width:1498px;
	height: 112px;
	border-bottom: 1px solid #CCCCCC;	
}

.top-box{
	width:1498px;
	height: 53px;
	
}

.container-logo{
	margin-left: 590px;
    padding-top: 13px;
    width: 151px;
}

.middle-menu{	
	height: 35px;
	width: 1498px;
	border-top: 1px solid #CCCCCC;
}
.container-middle{
	height: 35px;
}

.menu{
	width: 509px;
	padding-left: 376px;
    position: relative;
    top: 7px;    
}

.menu ul li{
	display: inline-block; 
	padding-left: 34px;
	font-size: 14px;
	line-height: 20px;
	font-family: Gotham book;	
}

.before-menu{
	width: 172px;
    position: relative;
    bottom: 30px;
    left: 9px;
}

.before-menu ul li{
	font-size: 12px;
	display: inline-block; 	
}

.formulario{
	width: 260px;
	height: 25px;
	position: relative;
    left: 1034px;
    bottom: 68px;
}

form{
	display: inline-block; 	
}

#s{
	display: inline-block;
	position: relative;
    bottom: 4px;
    right: 37px;
    font-size: 12px;
    border-bottom: 1px solid #686868;
	border-top: 0;
    border-left: 0;
    border-right: 0;
    font-family: open Sans;	
}

.lupa{
	display: inline-block;
}

.sacola{
    display: inline-block;
    position: relative;
    left: 186px;		
}
/*----------------------------FIM MENU---------------------------------*/


/*----------------------------INICIO MAIN------------------------------*/

main{
	width: 1498px;
	height: 630px;	
	position: relative;
    bottom: 16px;
    
}

.container-main{
	height: 600px;
	
}

/*----------------------------- grid 1 ---------------------------------*/
.bread-crumb ul li{
	display: inline-flex;
    font-size: 12px;
    font-family: Gotham bold, Open Sans;
    color: #AEB6C1;
    margin-left: 9px;
    margin-top: 17px;		
}

.product{
	margin-left: 60px;
	width: 48px;

}

.apresentação{
    width: 47px;    
}

.player{
	font-family: Open Sans;
	font-size: 12px;
	line-height: 20px;
	color: #DE8F75;
	margin-left: 6px;
}

.midia{
    margin-left: 8px;
}

.container-slide{
    display: inline-block;
    margin-left: 37px;
    padding-top: 36px;
    line-height: 26px;    
    margin-bottom: 77px;
    height: 438px;

}
/*------------to aqui começo do slide menor ---------*/
#carousel-pager{
	width: 95px;
   
}
.arrow-up{
	position: relative;
    left: 35px;
    bottom: 9px;
}
.arrow-down{
	position: relative;
    left: 31px;
    bottom: 6px;
}
.carousel-inner.vertical {
  height: ; 
  padding-left: 9px;
  margin-bottom: 3px;
}
.carousel-inner.vertical > .item {
  -webkit-transition: .6s ease-in-out top;
  -o-transition: .6s ease-in-out top;
  transition: .6s ease-in-out top;
}

@media all and (transform-3d),
(-webkit-transform-3d) {
  .carousel-inner.vertical > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
  }
  .carousel-inner.vertical > .item.next,
  .carousel-inner.vertical > .item.active.right {
    -webkit-transform: translate3d(0, 33.33%, 0);
    transform: translate3d(0, 33.33%, 0);
    top: 0;
  }
  .carousel-inner.vertical > .item.prev,
  .carousel-inner.vertical > .item.active.left {
    -webkit-transform: translate3d(0, -33.33%, 0);
    transform: translate3d(0, -33.33%, 0);
    top: 0;
  }
  .carousel-inner.vertical > .item.next.left,
  .carousel-inner.vertical > .item.prev.right,
  .carousel-inner.vertical > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    top: 0;
  }
}

.carousel-inner.vertical > .active {
  top: 0;
}
.carousel-inner.vertical > .next,
.carousel-inner.vertical > .prev {
  top: 0;
  height: 100%;
  width: auto;
}
.carousel-inner.vertical > .next {
  left: 0;
  top: 33.33%;
  right:0;
}
.carousel-inner.vertical > .prev {
  left: 0;
  top: -33.33%;
  right:0;
}
.carousel-inner.vertical > .next.left,
.carousel-inner.vertical > .prev.right {
  top: 0;
}
.carousel-inner.vertical > .active.left {
  left: 0;
  top: -33.33%;
  right:0;
}
.carousel-inner.vertical > .active.right {
  left: 0;
  top: 33.33%;
  right:0;
}

#carousel-pager .carousel-control.left {
    bottom: initial;
    width: 100%;
}
#carousel-pager .carousel-control.right {
    top: initial;
    width: 100%;
}

/*------------------------------ FINAL GRID 1 ----------------------------*/ 

/*------------------------------ INICIO GRID 2 ----------------------------*/ 

#ilustracao{
    display: inline-block;
    margin-left: 206px;
    position: relative;
    bottom: 612px;
    height: 556px;
    width: 1160px;
}

.banner{
	margin-right: 730px;
}
/*------------------------------ FINAL GRID 2 ----------------------------*/


/*------------------------------ INICIO GRID 3 ----------------------------*/

.compra-box{
	border: 2px solid #D2E1DF;
    width: 444px;
    height: 533px;
    float: right;
    position: relative;
    bottom: 562px;
    padding: 2px;
    border-radius: 3px;
    display: inline-block;
}


.produtoNome{
	font-size: 26px;
	color: #202020;
	font-family: Gotham bold;
    padding-left: 20px;
	font-weight: bold;
	margin-top: 15px;
}

.referencia-produto{
	padding-bottom: 31px;
    color: #202020;
    padding-left: 20px;
}

.reduzir{
	color: #E35442;
	font-family: Open Sans;
	font-style: 14px;
	   

}

.preco{
	padding-left: 20px;
}

.price{
	font-family: Gotham Bold;
	font-size: 20px;
	line-height: 28px;
	color: #686868;
	 
}

.parcelado{
	font-family: Open Sans;
	font-size: 12px;
	line-height: 20px;
	color: #7F7F7F;
}
.seletor{
	position: relative;
    right: 20px;
}

.cor{
	font-family: Open Sans;
	font-size: 14px;
	line-height: 23px;
	color: #202020;
	height: 15px;
    margin-left: 256px;
}

.cor-bola{
	padding-left: 15px;
}

.tamanho{
	font-family: Open Sans;
	font-size: 14px;
	line-height: 23px;
	color: #202020;
	padding-left: 4px;
	margin-left: 274px;
}

.numeros{
	margin-bottom: 74px;
	padding-left: 49px;
}

.adicionar{
	font-family: Open Sans;
	font-size: 18px;
	line-height: 29px;
	color: #fff;
	border-radius: 3px;
	background: #32917B;
	height: 60px;
	width: 404.89px;
	margin-bottom: 21px;
    margin-left: 20px;
}
.descricao{
	font-family: Open Sans;
	font-size: 14px;
	line-height: 29px;
	color: #202020;
	height: 40px;
	width: 404.89px;
	margin-bottom: 36px;
	margin-left: 24px;
}
/*------------------------------ FIM GRID 3 ----------------------------*/



/*-------------------------- INICIO PRATELEIRA---------------------------*/

.prateleira-container{
	width: 1498px;
	height: 570px;	
	position: relative;
    bottom: 14px;
}

.prateleira-row{
	width: 1498px;
	height: 20px;
	color: pink;
}

.prateleira-row h2{
	text-align: center;
    padding-top: 10px;
    font-family: gotham book;
    font-size: 26px;
    line-height: 37px;
    color: #DE8F75;

}

.active {
	display: inline-block;

}

.item{
display: inline-block;
}

.carousel-inner2{
    margin-left: 124px;
    margin-top: 50px;
    padding-left: 15px;
}


/*-------------------------- FIM PRATELEIRA---------------------------*/

/*-------------------------- INICIO FOOTER---------------------------*/

footer{
	width: 1498px;
	height: 311px;
 	border-top: 2px solid #AEB6C1;
    position: relative;
    bottom: 15px;
}

.footer-container{    
    margin: 0 auto;
    width:1498px;
    height: 230px;
    
}



.footer-menu{   
    padding-left: 30px;
    width: 720px;
    margin-left: 367px;
    position: relative;
    top: 26px;
    height: 200px;
}

.titulo1{
	display: block;
    border-top: 0;
    padding-left: 0;
    height: 30px;
    line-height: 17px;
    font-family: Gotham Bold;
    font-size: 12px;
    color: #AEB6C1;    
    position: relative;
    top: 25px;
    
}

.footer-lista-institucional{
	display: block;
    padding: 0 0 5px 0;
}

.titulo2{
	display: block;
    border-top: 0;
    padding-left: 0;
    height: 30px;
    line-height: 17px;
    font-family: Gotham Bold;
    font-size: 12px;
    color: #AEB6C1;    
    position: relative;
    top: 25px;
}

.footer-lista-info{
	display: block;
    padding: 0 0 5px 0;
}

.titulo3{
	display: block;
    border-top: 0;
    padding-left: 0;
    height: 30px;
    line-height: 17px;
    font-size: 12px;
    color: #AEB6C1;
    position: relative;
    top: 25px;
}

.footer-item{
	color: #202020;
	font-size: 14px;
	line-height: 42px;
	font-family: Open Sans;
}

.footer-lista-conheca{
	display: block;
    padding: 0 0 5px 0;
}

.institucional{
	    margin-left: 116px;
	display: inline-block;
}

.informacoes{
	display: inline-block;
	    margin-left: 55px;
}
.conheca{
	display: inline-block;
	    margin-left: 74px;

}

.footer-meio{
	height: 0px;
    width: 188px;
	
}

.footer-grupo{
    position: relative;
    bottom: 189px;
    width: 188px;
    right: 341px;
    
}

.footer-social{
	justify-content: flex-start;
	margin-bottom: 46px;
}

.footer-face{
	padding: 15px;
	display: inline-block;
	color: #DE8F75
}

.footer-insta{
	padding: 15px;
	display: inline-block;
}

.footer-pinterest{
	padding: 15px;
	display: inline-block;
}

.footer-social i {
    font-size: 25px;
    color: #de8f75;
    
}

.logo-vtex{
	display: inline-block;	
}

.logo-selo{
	display: inline-block;
	padding-left: 34px;

}

.footer-bloco-newsletter{	
	float: left;
	position: relative;
    left: 773px;
    float: left;
    bottom: 320px;
    width: 315px;

}

.footer-newsletter{   
	
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #AEB6C1;
    width: 304px;
    height: 310px;
    
}

.newsletter{
	float: left;
    width: 100%;
    flex: 1 0 100%;
}

.newsletter-titulo{
    color: #202020;
    margin-top: 34px;
    padding: 0;
    font-family: "Gotham Bold";
    font-size: 16px;
    text-align: center;
    height: 18px;
}

.formulario2{
	margin-left: 71px;
}

.news-nome{
	position: relative;
    font-family: Gotham Book;
    margin-top: 15px;
}

#nome{
	display: block;
    
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #AEB6C1;
    padding: 10px 0 5px 0;
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    font-family: Gotham Book;
}
.news-nome label{
	position: absolute;
    top: 10%;
    left: 0;
    
    color: #7f7f7f;
}

.news-email{
	position: relative;
    font-family: Gotham Book;
    margin-top: 15px;
}

#email{
	display: block;
    width: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #AEB6C1;
    padding: 10px 0 5px 0;
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    font-family: "Gotham Book"
}

.news-email label{
	position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #7f7f7f;
}

.receba{
	display: block;
    width: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #AEB6C1;
    padding: 10px 0 5px 0;
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    font-family: Gotham Book;
}

.news-botao{
	text-align: center;
}

.newsletter-botao{
    margin: 0 auto;
    margin-top: 20px;
}

.botao{
    position: relative;
    display: inline-block;
    font-family: Gotham Bold;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    text-align: center;    
    color: #fff;
    background: #de8f75;
    padding: 16.5px 30px;
    border: 1px solid transparent;
    border-radius: 3px;
    margin: 0; 
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    transition: all .3s linear;
    z-index: 0;
    top: 18px;
}

/* ---------------------------------- FIM FOOTER-TOP --------------------------------------*/



/* --------------------------------- INICIO FOOTER-BOTTOM --------------------------------*/
.footer-bottom{
    width: 1501px;
	position: relative;
    right: 400px;
    top: 4px;

}


.info{
	background: #DE8F75;    
    height: 80px;
    font-family: Open Sans;
    font-size: 12px;
    line-height: 10px;
    color: #fff;
    bottom: 13px;
    position: relative;
}

.ultimo-logo{
    width: 120px;
    position: relative;
    left: 954px;
    height: 40px;
    float: left;
    bottom: 52px;
}

p{
    position: relative;
    right: 260px;
    padding-top: 5px;
}
/* ---------------------------------- FIM FOOTER-BOTTOM --------------------------------*/




